<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
	th:replace="base::Layout(~{::section})">

<head>
<meta charset="UTF-8" />
<title>This is home page</title>
</head>

<body>
	<section class="banner-about d-flex align-items-center">

		<div class="banner-about-txt">

			<h1 class="font-weight-bold display-3">Smart Contact Manager</h1>

			<p class="copyright font-weight-bold mt-3 display-5">
				Designed and Developed with <i class="fa fa-heart-o icon-css"></i>
				by Vivek Kishore © 2022
			</p>

			<div class="icons">
				<a href="https://twitter.com/vivekishore"><i
					class="fa fa-twitter"></i></a> <a
					href="https://www.linkedin.com/in/vivekishore/"><i
					class="fa fa-linkedin"></i></a> <a
					href="https://www.github.com/vivekishore/"><i
					class="fa fa-github"></i></a>
			</div>


		</div>


	</section>
</body>



</html>